@import "../constants.less";

@width: 50rem;
@backgroundColor: #E9E8E6;

main {
  margin-left: .3 * @width + 3 * @blockSize;
  width: .7 * @width;
}


main {
  section {
    background: white;
    border-radius: @blockSize/3;
    box-shadow: 0 0 @blockSize/2 darken(@backgroundColor, 15%);
    margin: @blockSize;
    padding: @blockSize;
  }
}
