@import "../constants.less";

:host {
  display: flex;
  justify-content: center;

  background-color: @backgroundColor;

  #wrapper {
    width: @width;

    aside {
      width: 30%;
    }
    main {
      width: 70%;

    }
    aside, main {
      display: inline-block;
      vertical-align: top;

      section {
        background: white;
        border-radius: @blockSize/3;
        box-shadow: 0 0 @blockSize/2 darken(@backgroundColor, 15%);
        margin: .6rem;
        padding: @blockSize;
      }
    }
  }
}
