<div id="wrapper">
  <aside>
    <section>
      <resume-personal-info [resume]="resume"></resume-personal-info>
    </section>
  </aside>

  <main>

    <section>
      <resume-summary [resume]="resume"></resume-summary>
    </section>

    <section>
      <resume-specialties [resume]="resume"></resume-specialties>
    </section>

    <section>
      <resume-jobs [resume]="resume"></resume-jobs>
    </section>

    <section>
      <resume-pastexp [resume]="resume"></resume-pastexp>
    </section>

    <section>
      <resume-education [resume]="resume"></resume-education>
    </section>

  </main>
</div>
