@import "../constants.less";

.material-icons {
  vertical-align: text-bottom;
  font-size: 2 * @blockSize;
}

:host {
  > div {
    padding: 2*@blockSize 0;
    vertical-align: middle;

    &.b {
      border-bottom: 1px solid black;
    }

    i {
      margin-right: @blockSize;
    }
  }

  .photo {
    padding: 0;
    img {
      width: 100%;
    }
  }

  .name {
    font-size: 167%;
    padding-bottom: @blockSize;
  }

  .title {
    padding-top: @blockSize;
  }
}
