<header>
  <div class="photo">
    <img gravatar [email]="info.email" [size]="240" [fallback]="'wavatar'" src="">
  </div>

  <div class="text">
    <div class="name">{{ info.name }}</div>
    <div class="title">{{ info.title }}</div>

    <div class="contacts">
      <div class="email">
        <i class="material-icons">email</i>
        {{ info.email }}
      </div>

      <div class="phone">
        <i class="material-icons">phone</i>
        {{ info.phone }}
      </div>

      <div class="address">
        <i class="material-icons">home</i>
        {{ info.address }}
      </div>
    </div>
  </div>


</header>
