.material-icons {
  vertical-align: text-bottom;
  font-size: 1.5rem;
}

.inner {
  padding: 0.6rem;

  > div {
    padding: 1.6rem 0;
    vertical-align: middle;

    &.b {
      border-bottom: 1px solid black;
    }

    i {
      margin-right: 0.6rem;
    }
  }

  .photo {
    padding: 0;
    img {
      width: 100%;
    }
  }

  .name {
    font-size: 167%;
    padding-bottom: .6rem;
  }

  .title {
    padding-top: 0.6rem;
  }
}
